body {
  font-size: 16px;
  font-family: "Inter",sans-serif;
  text-transform: none;
  font-style: normal;
  font-variation-settings: 'pnum' 0;
}
a {
  color: #0B3D91;
}
nav {
  background-color: #0B3D91;
  padding: 8px 24px 14px 24px;
}
.navbar-brand-wrapper a {
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}


.brand {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.4px;
  color: white;
  padding-top: 12px;
}

.brand-logo {
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  margin-right: 14px;
}

.brand-logo span {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

#login-button {
  background-color: #0B3D91;
  border:none;
}

h1.lead {
  font-size: 24px;
  font-weight: 600;
  margin-top: 40px;
}
.footer {
  font-size: 12px;
}